<p>[ … ] Na konci roku 1945 bylo v Malontech 24 Čechů a 350 Němců.</p>

<h2 style="text-align: center;">1946.</h2>

<p>
  Po novém roce nastal příliv Čechů do Malont. Za měsíc leden a únor osídlilo se
  20 nejlepších hospodářství. Přichazeli sem Josef a Jaroslav Štika, Josef
  Sládeček, Ladislav Brabec, Frant. Brabec, Josef Vávra, Adolf Pekař … a mnozí
  jiní. […]
</p>

<p>
  MSK [Místní správní komise] v Malontech byla mezi prvními obcemi na okrese,
  která prováděla odsuny Němců z Malont. 300 německých obyvatel bylo za 3 měsíce
  odsunuto z Malont. Transporty Němců se prováděly po 90 lidech. Každý Němec si
  mohl vzít sebou zavazadlo o váze 70 kg. Tak během půl roku z německé obce se
  stává obec česká. Mezi posledními odsunutými Němci byl i něm. farář Josef
  Singer a fara po jeho odchodu byla na čas uzavřena. […]
</p>

<p>
  Čeští novousedlíci velmi rychle se přičinili o to, aby obec byla česká. Na
  památku přechodu obce do českých rukou je vybudován pomník, který stojí na
  náměstí u kašny. Dne 19. května 1946 byl odhalen, aby na věčné časy hlásal
  „Bílá hora odčiněna.“
</p>

<p>
  Obec se postupně dosidlovala a život v obci se plně rozvíjel a přicházel do
  normálních kolejí.
</p>
